@import "../stylesheets/global.scss";
.admin--right_wrapper {
  display: flex;
  flex-direction: column;
  margin: 5%;
  height: 100vh;
  background-color: $light-blue;
  border-radius: $border-radius;
}
.admin--form_wrap {
  display: flex;
  flex-direction: column;
  padding: 3%;
  width: 50%;
}
@media screen and (max-width: 700px) {
  .admin--form_wrap {
    width: 100%;
  }
}
.admin--headline {
  font-size: 2.4rem;
  font-family: $font-SpaceMono;
  margin-bottom: 3rem;
}
.form--group {
  margin: 3% 0 5% 0;
}
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: $dark-blue;
  box-shadow: $box-shadow-blue;
  color: $dark-blue !important;
  margin-left: 10px;
  font-size: 14px;
}

.form--input {
  color: $dark-blue !important;
}
input {
  color: $dark-blue !important;
  font-size: 14px;
  position: relative;
  appearance: none;
  background: white;
  width: 350px;
  height: 50px;
  border: 0.5px solid $blue;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: $border-radius;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 4px 4px $light-grey inset;
  &::placeholder {
    padding-left: 10px !important;
    color: $dark-blue;
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  input {
    width: 90%;
  }
}
input::placeholder {
  color: $dark-blue;
  margin-left: 10px;
  font-size: $Roboto-bold;
}
.admin--flash {
  color: white;
  background-color: #5d6486;
  padding: 15px;
  top: -79px;
  width: 250px;
  right: 74px;
  font-size: 14px;
  z-index: 10;
  margin-top: 40px;
  border-radius: $border-radius;
  position: absolute;
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #5d6486;
    top: 35px;
    position: absolute;
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 769px) {
  .admin--flash {
    right: -46px;
  }
}

@media screen and (max-width: 500px) {
  .admin--flash {
    right: -8px;
  }
}

input[type]:focus {
  padding-left: 20px !important;
  color: $dark-blue !important;
}

input[type] {
  padding-left: 20px !important;
  color: $dark-blue !important;
}

.admin--flash_wrap {
  position: relative;

}


