@import "../stylesheets/global.scss";

.admin--right_wrapper {
  display: flex;
  flex-direction: column;
  margin: 5%;
  height: 100vh;
  background-color: $light-blue;
  border-radius: $border-radius;
}

.admin--form_wrap {
  display: flex;
  flex-direction: column;
  padding: 3%;
  width: 50%;
}
@media screen and (max-width: 700px) {
  .admin--form_wrap {
    width: 100%;
  }
}

.admin--headline {
  font-size: 2.4rem;
  font-family: $font-SpaceMono;
}
.form--group {
  margin: 3% 0 3% 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: $dark-blue;
  box-shadow: $dark-blue;
}

input {
  height: 30px;
  border-radius: $border-radius;
  width: 90%;
}

.admin--flash {
  color: white;
  background-color: #5d6486;
  padding: 2%;
  border-radius: 10px;
  position: absolute;
  top: -55px;
  width: 150px;
  right: 0;
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: $dark-blue;
    top: 200px;
  }
}

.admin--flash_wrap {
  position: relative;
}
