@import "../stylesheets/global.scss";

/*creating CoolWall stage */

.coolwall--wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 700px) {
  .coolwall--wrapper {
    flex-direction: column;
  }
}

.coolwall--left {
  width: 20%;
  height: 100vh;
  background-color: $dark-grey;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .coolwall--left {
    flex-direction: row;
    width: 100%;
  }
}

.coolwall--right {
  width: 80%;
  height: 100vh;
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .coolwall--right {
    width: 100%;
  }
}

.coolwall--left_white {
  background-color: white;
  height: 25vh;
  position: relative;
}

@media screen and (max-width: 700px) {
  .coolwall--left_white {
    width: 40%;
    height: 15vh;
  }
}

.coolwall--logo {
  width: 140px;
  position: absolute;
  right: 10px;
  top: 10px;
}

@media screen and (max-width: 700px) {
  .coolwall--logo {
    width: 100px;
    left: 10px;
  }
}

.coolwall--copyright {
  font-size: 15px;
  font-family: $font-Roboto;
  color: $light-blue;
  margin-left: $margin * 2;
  margin-top: $margin * 2;
  margin-bottom: $margin;
}

.coolwall--right_wrapper {
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 100vh;
  flex-grow: 3;
  overflow: auto;
}
.coolwall--techvote_wrapper {
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow-dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.coolwall--displaytrend {
  margin-top: 2%;
  flex-grow: 3;
}

.right--top_p {
  font-family: $font-SpaceMono;
  font-size: 0.8rem;
}

.coolwall--left_grey {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 75vh;
}

@media screen and (max-width: 500px) {
  .coolwall--left_grey {
    width: 60%;
    height: 15vh;
    align-items: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .dashboard--submit {
    margin-left: 20px;
    margin-bottom: $margin;
  }
}

/* ANIMATION */

.coolwall--animation_wrap {
  background-color: $dark-blue;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  animation: FadeIn forwards 1s ease-out;
  animation-delay: 1s;
  pointer-events: none;
}

.FadeIn {
  opacity: 1;
}

@keyframes FadeIn {
  100% {
    transform: scale(1.03);
    opacity: 0;
  }
}

.coolwall--icons_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.coolwall--icon_img {
  width: 150px;
  padding: $margin;
}

@media screen and (max-width: 500px) {
  .coolwall--icon_img {
    width: 80px;
  }
}

.coolwall--icon_col {
  display: flex;
  justify-content: center;
  align-items: center;
}
