@import "../stylesheets/global.scss";

.cool--icon {
  width: 2.5rem;
  padding: 0 3% 0 3%;
}

.cool--h1 {
  font-size: $font-size-h1;
  font-family: $font-SpaceMono;
  padding: 0 3% 0 3%;
}
.cool--head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow-blue;
  margin: $margin;
}
