@import "../stylesheets/global.scss";

.dashboard--top_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 500px) {
  .dashboard--top_row {
    flex-direction: column;
    height: initial;
  }
}

.dashboard--bottom_row {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 60vh;
}

@media screen and (max-width: 500px) {
  .dashboard--bottom_row {
    height: 100vh;
  }
}

.dashboard--top_col {
  width: calc(100% / 3);
  box-shadow: $box-shadow-dark-blue;
  background-color: $light-grey;
  border-radius: $border-radius;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 100%;
  line-height: 0.3;
  &:nth-child(1) {
    margin-left: 0%;
  }
  
  .dashboard--bottom_row {
    margin-top: 2%;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .dashboard--top_col {
    flex-grow: 1;
    width: calc(100% / 3);
    box-shadow: $box-shadow-dark-blue;
    background-color: white;
    border-radius: $border-radius;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100%;
    line-height: 0.3;
    &:nth-child(1) {
      margin-left: 0%;
    }
    &:nth-child(2) {
      margin-left: 2%;
      margin-right: 2%;
    }
    &:nth-child(3) {
      margin-right: 0%;
    }
  }
}

.dashboard--coolestShit_component {
  border-radius: 10px;
  box-shadow: 0px 4px 0px $dark-blue;
  margin: 10px;
  border: 0.5px solid #b7c9f7;
  display: flex;
  height: 60%;
  margin-top: 25px;
}
.dashboard--top_p {
  font-size: 13px;
  font-weight: 700;
  margin-left: 4%;
  margin-top: 30px;
}

.dashboard--top_span {
  font-size: 11px;
  margin-left: 4%;
}

.dashboard--bottom_col {
  box-shadow: $box-shadow-dark-blue;
  background-color: $light-grey;
  border-radius: $border-radius;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 100%;
  line-height: 0.3;
  flex-grow: 1;
  &:nth-child(1) {
    margin-left: 0%;
    margin-right: 1%;
    width: calc((100% / 3) * 2);
  }
  .dashboard--top_p {
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 4%;
  }
  
  .dashboard--top_span {
    font-size: 0.8rem;
    margin-left: 4%;
  }
  
  .dashboard--bottom_col {
    box-shadow: $box-shadow-dark-blue;
    background-color: white;
    border-radius: $border-radius;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100%;
    line-height: 0.3;
    &:nth-child(1) {
      margin-left: 0%;
      margin-right: 1%;
      flex-grow: 21;
    }
    &:nth-child(2) {
      margin-left: 1%;
      margin-right: 0%;
      flex-grow: 1;
    }
  }
}