@import "../stylesheets/global.scss";

.displayforvote--scroll {
  font-size: 18px;
  background-color: white;
  margin: 2%;
  box-shadow: $box-shadow-dark-blue;
  min-height: 70px;
  display: flex;
  align-items: center;
  padding-left: 2%;
  border-radius: $border-radius;
  position: relative;
}
.technology--name {
  padding-right: 10%;
  font-size: 18px;
  font-weight: $Roboto-bold;
  width: 20%;
}

@media screen and (max-width: 700px) {
  .technology--name {
    font-size: 12px;
  }
}

.displayforvote--images {
  width: 50px;
  height: 50px;
  margin: 5%;
}

@media screen and (max-width: 700px) {
  .displayforvote--images {
    width: 35px;
    height: 35px;
    margin: 2%;
  }
}

.displayforvote--images_wrap {
  width: 80%;
}

.uncool {
  border: solid 2px $yellow;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px $yellow;
}

.cool {
  border: solid 2px $red;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px $red;
}

.subzero {
  border: solid 2px $blue;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px $blue;
}
