@import "../stylesheets/global.scss";

.displayforvote--scroll {
  font-size: 18px;
  background-color: white;
  margin: 2%;
  box-shadow: $box-shadow-dark-blue;
  min-height: 70px;
  display: flex;
  align-items: center;
  padding-left: 2%;
  border-radius: $border-radius;
  position: relative;
}
.technology--name {
  padding-right: 10%;
  font-size: 18px;
  font-weight: $Roboto-bold;
  width: 20%;
}

@media screen and (max-width: 700px) {
  .technology--name {
    font-size: 12px;
  }
}

.displayforvote--images {
  width: 50px;
  height: 50px;
  margin: 5%;
  border: solid 2px white;
}
@media screen and (max-width: 700px) {
  .displayforvote--images {
    width: 30px;
    height: 30px;
  }
}
.displayforvote--images_wrap {
  width: 80%;
}
.cool {
  border: 2px solid $red;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px $red;
}
.none {
  border: none;
}
.uncool {
  border: 2px solid $yellow;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px $yellow;
}
.subzero {
  border: 2px solid $blue;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px $blue;
}

.displayforvote--images {
  width: 50px;
  height: 50px;
  margin: 5%;
}

.displayforvote--images_wrap {
  width: 80%;
}

.uncool {
  border: 2px solid $yellow;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px $yellow;
}

.cool {
  border: 2px solid $red;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px $red;
}

.subzero {
  border: 2px solid $blue;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px $blue;
}
