body {
  background-color: #f5f6fa;
  color: #5d6486;
  height: 100vh;
}
#root {
  height: 100vh;
}
.button--light_blue {
  width: 100px;
  height: 50px;
  background-color: #b7c9f7;
  color: #5d6486;
  box-shadow: 0px 4px 4px #5d6486;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  justify-content: center;
}
.button--light_blue:hover {
  color: #b7c9f7;
  background-color: #5d6486;
}
.app--wrapper {
  height: 100vh;
}
