@import "../stylesheets/global.scss";

.techvote--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: $box-shadow-dark-blue;
}

.techvote--displayforvote {
  position: relative;
  overflow-y: scroll;
  border-radius: $border-radius;
  margin: 2%;
  height: 20vh;
  width: 100%;

  &::after {
    content: "";
    display: block;
    position: absolute;
    overflow: visible;
    pointer-events: none;
    background: none !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    mix-blend-mode: multiply;
    z-index: 9;
    box-shadow: inset 0px -10px 20px #aab0be, inset 0px 10px 20px #aab0be;
  }
}

.techvote--submit {
  padding-right: 2%;
}
