@import "../stylesheets/global.scss";

.techvote--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: $box-shadow-dark-blue;
}

.techvote--displayforvote_outer {
  border-radius: $border-radius;
  margin: 2%;
  height: 20vh;
  width: 100%;
  /*
  &::after {
    content: "";
    display: block;
    position: absolute;
    overflow: visible;
    pointer-events: none;
    background: none !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    mix-blend-mode: multiply;
    z-index: 9;
    box-shadow: inset 0px -10px 20px #aab0be, inset 0px 10px 20px #aab0be;
  }*/
}

.techvote--submit {
  padding-right: 2%;
}

.techvote--shadow_top {
  position: relative;
  margin: 2%;
  height: 20px;
  width: 100%;
  z-index: 9;
  box-shadow: 0px 10px 10px -10px $dark-blue inset;
  border-radius: $border-radius;
}

.techvote--shadow_bottom {
  position: relative;
  margin: 2%;
  height: 20px;
  width: 100%;
  z-index: 9;
  box-shadow: 0px -10px 10px -10px $dark-blue inset;
  border-radius: $border-radius;
  mix-blend-mode: multiply;
}

.techvote--displayforvote_inner {
  height: calc(20vh - 60px);
  max-width: 100%;
  overflow: auto;
  margin: 0 auto;
}
