@import "../stylesheets/global.scss";

.trendBar--wrapper {
  font-size: 13px;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.trendBar--content_wrapper {
<<<<<<< HEAD
  padding: 2px;  
=======
  padding: 2px;
  width: 94%;
>>>>>>> 6f69dd04d22cbf4c9a8e58f0dbfc60910f16be81
  flex-direction: row;
  display: flex;
  box-shadow: $box-shadow-dark-blue;
  border-radius: $border-radius;
  align-items: center;
  margin: $margin;
}

.trendBar--content_name {

  width: 20%;
  display: flex;
  padding-left: 4%;
}

.trendBar--progressbar {
  width: 80%;
  display: flex;
}
